*{
  box-sizing:border-box;
  margin:0px;
  
}

/*general elements for listed items, links, and buttons */
li, a, button {
  font: 16px Arial,Helvetica, sans-serif;
  font-weight:500px;
  color: #3b98af;
  text-decoration:none;
  text-align: center;
}

ul {
  list-style:none;
  display:inline-flex;
}

/* ----------------------- navbar ----------------------------*/
.navbar{
  display:inline-flex;
}
.nav-links{
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  gap: 25px;
  background-color: rgba(255, 255, 255);
  width: 100%;
  height: 100px;
  z-index: 2;
}
.nav-links li{
  padding: 5px;
}
.nav-links li a{
  font-size: 22px;
}


/*--------------general body formatting ----------------------*/
body {
  background-color:#ffffff;
  color: #000;;
  font: normal 16px Arial, Helvetica, sans-serif;
  line-height: 1.6em;
  margin-left:10px; 
  overflow-x:hidden; 
}

.container {
  display:flex; 
  padding-top: 20px;
  flex-wrap:wrap;
  gap:1em;
}
.skz-subtitle{
  display:flex;
  align-items:center;
  justify-content:center;
  margin: 20px;
  padding: 10px;
}

/* ------------------ member about section -------------------*/
.member-container{
  display:flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin: 20px;
  width: 90%;
  transition: background-image 0.4s ease-in, opacity 0.5s ease-in;
}
/*landing --> member-container and options*/
.landing{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2px;
  margin: 120px 0px 10px 0px;
  height: auto;
}

/*card --> member photo, background, links*/
#card{
  width: 95%;
  height: auto;
  min-height: 450px;
  border-radius: 12px;
}
/*image formatting for div and img ------*/
.member-image{
  margin: 5px;
}
.skz-logo{
  width: 12%;
  margin: 0;
}

.member-image img{
  height: 380px;
  width: 220px;
}
.member-socials{
  margin: 5px;
  height: 150px;
  text-align: center;
}
.member-description{
  margin-top: 20px;
  height: 180px;
}
.member-description a{
  color: blue;
}
.member-description a:hover{
  color: red;
  transition: 0.3s ease;
}

.member-skzoo, .member-player, .member-insta{
  width: 200px;
  height: 100px;
  margin: 20px 0px;
}
.member-skzoo img, .member-player img, .member-insta img{
  width: 180px;
  height: 100px;
}

/* for member selection options ----------------*/
.menu, .member-socials{
  display:flex;
  align-items: center;
  justify-content: center;
}
.member-socials{
  align-items: center;
  flex-direction: column;
  width: auto;
  height: 420px;
  justify-content: center;
}
.menu{
  width: 95%;
  flex-wrap:wrap;
  margin: 0px 20px 10px 10px;
  padding: 15px;
}
.menu img{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.menu-member, .menu-member-inactive{
  margin: 0px 15px;
  padding: 3px;
  cursor:pointer;
}
.menu-member-inactive{
  filter: grayscale(1);
  transition: filter 0.3s ease;
}
.menu-member img{
  border: 2px solid blue;
}

.member-info{
  margin: 0px 33px 0px 0px;
  padding: 8px;
  height: 320px;
  width: 50%;
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.24);
  border-radius: 12px;
}

/* ------------------blog editing----------------------------*/
.blog {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  padding: 40px;
  border-bottom: 1px solid black;
  margin-top: 100px;
}

.blog-heading {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction: column;
  padding-bottom: 20px;

}

.blog-heading span {
  color: #f33c3c;
  margin-bottom: 10px;
}

.blog-heading h3 {
  font-size: 2.4em;
  color: #2b2b2b;
  font: 16px Arial, Helvetica, sans-serif bold;

}

.blog-container {
  display:flex;
  justify-content: center;
  align-items: flex;
  margin: 40px 0;
  padding: 20px;
  flex-wrap:wrap;
}

.blog-box {
  Width: 350px;
  border-radius:12px;
  background-color:#fff;
  border: 1px solid #ececec;
  margin: 20px;
  margin-bottom: 50px;
  
}
.blog-box:hover{
  cursor:pointer;
}

.blog-img {
  width: 100%;
  height:auto;
}

.blog-img > img {
  width:100%;
  width: 100%;
  max-height: 200px;
  max-width: 350px;
  object-fit:cover;
  object-position:cover;
}

.blog-text {
  padding: 20px;
  display:flex;
  flex-direction: column;

}

.blog-text span {
  color:f33c3c;
  font-size: 12px;
}

.line{
  background-color: #e32636;
  height: 2px;
  width: 50%;
  margin-top:10px;
}

.blog-text .blog-title {
  font-size: 18px;
  font-weight:500;
  color: #272727;
}

.blog-text .blog-title:hover {
  color: #e32636;
}

.blog-text .blog-title:active {
  color: #67dd33;
}

.blog-text p {
  color:#969696;
  font-size:14px;
  display:-webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow:hidden;
  text-overflow:ellipsis;
  margin: 20px 0px;

}

.blog-text a{
  color:#0f0f0f;
}

.blog-text a:hover {
  color:#e32636;
}

.blog-text a:active {
  color:#67dd33;
}

.see-blog {
  display:flex;
  justify-content: center;
  align-items: center;
}
.see-blog ion-icon{
  color:#e32636;
  margin-left: 7px;
}

/* ------------albums formatting --------------------*/
.albums-container, .album-container,.album-cover, 
.filter-menu,.album-info, .albums-main-container, .menu-option,
.preview-container {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
/*button formatting for view button and filter buttons*/
.albums-main-container button{
  border-radius: 30px;
  height: 50px;
  width: 80px;
  cursor:pointer;
  border: 1px solid black;
  color:black;
}

.album-cover, .album-info, .albums-container{
  margin-top: 0;
}
.albums-container{
  width: 95%;
}

/* for the Albums label and filter selection buttons*/
.filter-menu{
  flex-direction: row;
  height: 100px;
  width: 80%;
}
.a-title, .menu-option{
  height: 60px;
  width: 90px;
}
.a-title{
  width: 40%;
  height: 70px;
  padding: 10px;
}
.a-title h2{
  font-size: 38px;
  text-align:left;
  margin: 10px 0px;
}
/*div container for all filter buttons*/
.filter-buttons{
  display:flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0px 15px;
  padding: 4px;
}
.filter-info{
  text-align:left;
}
/*div container for each filter button*/
.menu-option{
  margin: 0px 7px;
  width: 50%;
}

/*div container for all the albums*/
.albums{
  display:inline-flex;
  padding: 16px 8px;
  height: 400px;
  overflow-x:scroll;
  overflow-y:hidden;
  width: 95%;
}
/*div container for each album*/
.album-container{
  border-radius: 12px;
  border: 1px solid gray;
  width: 280px;
  box-shadow: 7px 4px 4px;
  height: 300px;
  padding: 2px 8px;
  margin:12px;
  cursor: pointer;
}
/*for album cover image div and img*/
.album-cover{
  height: 200px;
  width: 200px;
  /* background-color: #e32636; */
  border-radius: 4px;
}
.album-cover img{
  height: 180px;
  width: 180px;
}
.album-title{
  margin: 3px 5px;
}
/*div for years and view album button*/
.album-selections{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction:row;
  padding: 4px;
  width: 85%;
}
.album-year{
  font-size: 16px;
  width: 100px;
  text-align: center;
  margin: 0px 15px;
}
/* when view-album button is present --> check if want to keep
.album-year, .view-album{
  margin: 0px 15px;
} */
.heading{
  margin-top: 50px;
}


/*------------------------album preview/additional info section -----------*/
.preview-container{ /*for both album info and album cover and title*/
  /* background-color: blueviolet; */
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 95%;
  height: 600px;
  margin-top: 10px;
  border-radius:12px;
}
/*left == song info and .album-preview-container is for album cover and title display on right*/
.left, .album-preview-container{
  width: 55%;
  min-height: 450px;
  max-height: 570px;
  margin: 15px;
  padding: 7px;
}
.album-preview-container{
  width: 50%;
}
.albums-main{
  display:flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
  width: 95%;
  padding: 4px;
  margin-top: 30px;
}
.prev, .next{
  margin: 0px 8px;
  padding: 5px;
}

.left{
  overflow-y: scroll;
}

/*--------------------scrollbar-------------------------------*/
::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  margin: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 173, 187, 0.1); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8f8f8f; 
}

::-webkit-scrollbar-corner {
  background: transparent;
}


/*----------------------------------------------------------------*/


/*for album title*/
.info-title{
  margin: 6px 0px;
  height: 40px;
}
/*for song number, title, duration*/
.song-container{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 98%;
  height: 55px;
  font-size: 21px;
  text-align: center;
  background-color: rgba(150, 150, 150, 0.5);
  margin: 10px 0px;
  cursor:pointer;
}
.song-number, .song-title, .song-duration{
  margin: 0px 10px;
}
.song-number{
  width: 15%;
}
.song-title{
  width:60%;
}
.song-duration{
  width: 15%;
}
.songs-list{
  height: auto;
  padding: 3px;
}
.album-preview-container,.preview-cover, .info-title{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.preview-cover{
  height: 90%;
  width: 80%;
  margin: 12px 15px;
}
.preview-cover img{
  height: 420px;
  width:auto;
  min-width: 150px;
  max-height: 450px;
}
.info-title h1{
  font-size: 30px;
}

.lyrics{
  margin-top: 4px;
  text-align: center;
  font-size: 22px;
  padding: 5px;
  word-spacing: 0.5;
  line-height: 1.8;
  height: 90%;
  overflow-y: scroll;
}
.lyrics-container h1{
  text-align: center;
  margin-top: 15px;
  text-decoration: underline;
}
.exit{
  display:flex;
  align-items: center;
  justify-content: center;
}




/* ----------- Mobile/Media formatting ---------*/
@media (max-width: 1250px) {
  .blog-box {
      width: 300px;
  }

}
@media (max-width: 1000px) {
  .member-info{
    font-size: 15px;
  }
}

@media (max-width: 900px){
  .skz-logo, .member-image{
    display:none;
  }
  #card{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
  }
  .member-socials{
    width: 80%;
    margin: 90px 0px;
    height: auto;
  }
  .menu{
    display:none;
  }
  .member-info{
    width: 90%;
    margin: 20px 0px;
    position:relative;
    top: 0px;
    right: 0;
    text-align: center;
    height: 350px;
  }
  .member-skzoo, .member-player, .member-insta{
    margin: 30px 0px;
  }
  .member-skzoo img, .member-player img, .member-insta img {
    width: 210px;
    height:130px;
  }
  .landing{
    margin: 0;
    padding: 0;
  }
  #card{
    width: 90%;
  }
  .nav-links li a{
    font-size: 18px;
  }
  .filter-menu{
    display:none;
  }
  .preview-container{
    flex-direction: column;
    height: auto;
  }
  .left, .album-preview-container{
    width: 90%;
    height: auto;
    padding: 10px;
    margin: 15px;
  }
  .albums-main-container{
    width: 95%;
  }
  .song-container{
    height: 120px;
  }
  .preview-cover img{
    width: 90%;
    height: auto;
  }
  .prev, .next{
    display:none;
  }
  .albums{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    flex-wrap:wrap;
    padding: 16px 8px;
    height: auto;
    overflow-x:scroll;
    overflow-y:hidden;
    width: 100%;
  }
}